@page "/"

<PageTitle>Index</PageTitle>

<h1 class="display-4">COMP 4976 ASSIGNMENT#2</h1>
<br>
<h1 class="display-4">NOT FOR-PROFIT MANAGEMENT SYSTEM</h1>
<br>

<SurveyPrompt Title="How is Blazor working for you?" />
