@inherits LayoutComponentBase

<PageTitle>NonProfitApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <!-- Footer Content -->
        <footer class="footer">
            <div class="container">
                <div class="text-center text-muted">
                    Andrew Anca - A00991715
                    <br>
                    Ryan Rudzitis - A01267164
                </div>
            </div>
        </footer>

    </main>
</div>

<style>
    /* Styles specific to the footer */
    .footer {
        position: sticky;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #d0d0d0;
        /* Lighter grey background for the footer */
        display: flex;
        /* Turn on flexbox for the footer */
        align-items: center;
        /* Vertically center content */
        justify-content: center;
        /* Horizontally center content */
    }


    .text-muted {
        color: #ffffff;
        /* White text color */
    }
</style>
